<h1>Cadastro de pagamento</h1>

<form action="cad-pagamento" method="post">
    <label>Nome</label>
    <input type="text" name="nome"> <br>

    <label>Valor</label>
    <input type="text" name="valor"><br>

    <hr>
    <button type="submit">Cdastrar</button>
    
</form>