{{>_header}}
<form action="cad-pagamento" method="post">

    <div class="form-group row">
    <label for="nome" class="col-sm-2 col-form-label">Nome</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Informe o nome do pagamento">
    </div>
  </div>
   <div class="form-group row">
    <label for="valor" class="col-sm-2 col-form-label">Valor</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="valor" name="valor" placeholder="Informe qual o valor">
    </div>
  </div>

    <hr>
    <button class="btn btn-sm btn-outline-success" type="submit">Cadastrar</button>
    
</form>