<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Editar pagamento</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a href="/add-pagamento">
            <button type="button" class="btn btn-sm btn-outline-success">
                Novo Pagamento
            </button>
        </a>
        <a href="/listar-pagamento">
            <button type="button" class="btn btn-sm btn-outline-info">
                Listar
            </button>
        </a>
    </div>
</div>
<form action="/update-pagamento/{{id}}" method="post">

    <div class="form-group row">
        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="nome" name="nome" value="{{nome}}"> 
        </div>
    </div>
    <div class="form-group row">
        <label for="valor" class="col-sm-2 col-form-label">Valor</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="valor" name="valor" value="{{valor}}">
        </div>
    </div>

    <hr>
    <button class="btn btn-sm btn-outline-success" type="submit">Salvar</button>

</form>